<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="A simple air quality monitoring website">
  <meta name="author" content="seandlg">
  <title>Air quality with SDS011</title>
  <!-- Bootstrap core CSS -->
  <link rel="stylesheet" href="bootstrap/dist/css/bootstrap.min.css">
  <script src="chart.js/dist/Chart.bundle.js"></script>
  <script src="/datepickk.js"></script>
  <link rel="stylesheet" href="/datepickk.css">
  <!-- Custom styles for this template -->
  <link href="style.css" rel="stylesheet">
</head>

<body class="text-center">
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Air quality @ Cologne</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a id="btn1" class="nav-link active" href="#1day" onclick="updateGraph('intraday')">Intraday</a>
          <a id="btn2" class="nav-link" href="#5day" onclick="updateGraph('5day')">5-day</a>
          <a id="btn3" class="nav-link" href="#month" onclick="updateGraph('month')">Month</a>
          <a id="btn4" class="nav-link" href="#custom">Custom</a>
          <a class="nav-link" href="AQData.json">Export AQ-Data</a>
        </nav>
      </div>
    </header>

    <main role="main" class="inner cover">
      <div class="input-group mb-3" style="width: fit-content; margin: 0 auto; margin-top: 16px">
        <div class="input-group-prepend">
          <button class="btn btn-primary" type="button" id="custom_range_button">Show for custom date range</button>
        </div>
        <input id="start_date_field" type="text" class="form-control" placeholder="Start date" aria-label="Start date" onclick="datepicker.show()">
        <input id="end_date_field" type="text" class="form-control" placeholder="End date" aria-label="End date" onclick="datepicker.show()">
      </div>
      <div id="wrapper" style="position: relative; height: 80vh; margin-bottom:20px; background-color: whitesmoke">
        <canvas id="myChart"></canvas>
      </div>
      <script src="/pmchart.js" charset="utf-8"></script>
    </main>

    <footer class="mastfoot mt-auto">
      <div class="inner">
        <p>A simple AQ-monitor by <a href="https://github.com/seandlg">seandlg</a></p>
      </div>
    </footer>
  </div>
</body>

</html>
